.carousel {
  max-width: 100%;
  .swiper-slide {
    min-height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2rem;
    &:nth-child(odd) {
      background: $secondary;
    }
    &:nth-child(even) {
      background: $primary;
    }
  }
}

@media screen and (max-width: 425px) {
  .carousel {
    .swiper-slide {
      font-size: 1rem;
    }
  }
}
