.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__form {
    text-align: center;
    margin: 1rem 0;
    max-width: 32rem;
  }
  &__input {
    margin: 1rem 0;
  }
}
