.footer {
  min-height: 10rem;
  background: $primary;
  border-top: 0.6rem solid $secondary;
  padding: 6rem 12rem;
  display: grid;
  place-items: center center;
  grid-template-columns: 1fr 1fr;
  color: white;
  &__nets {
    ul {
      list-style-type: none;
      margin: 0;
    }
    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: $secondary;
        }
        b {
          margin: 0 1rem;
        }
      }
    }
  }
  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a {
      color: $secondary;
      text-decoration: none;
      &:hover {
        color: $auxSecondary;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 6rem 2rem;
    grid-template-columns: 1fr;
    &__nets,
    &__copyright {
      margin: 2rem 0;
    }
  }
}
