.nav {
  height: 5rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary;
  padding: 0.5rem 2rem;
  border-bottom: 0.6rem solid $secondary;
  &__logo {
    h1 {
      margin: 0;
      color: white;
      font-size: 1.2rem;
    }
  }
  &__menu {
    display: flex;
    margin: 0;
    justify-content: space-between;
  }
  &__link {
    margin: 0 1rem;
    list-style-type: none;
    a {
      color: white;
      text-decoration: none;
      text-transform: capitalize;
      &:hover {
        color: $secondary;
      }
    }
  }
  &__burger {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    &__menu {
      position: absolute;
      top: 4rem;
      right: 0;
      width: 100vw;
      min-height: 100vh;
      background: $primary;
      gap: 3rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-out;
      &.active {
        transform: translateX(0%);
      }
    }
    &__burger {
      display: block;
      &:hover {
        div {
          background: $secondary;
        }
      }
      div {
        width: 2rem;
        height: 0.25rem;
        margin: 0.4rem 0;
        background: white;
      }
    }
  }
}
