.page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  max-height: 100vh;
  padding: 20rem 10rem;
  background: $primary;
  section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    .balloon {
      max-width: 30rem;
      display: inline-block;
    }
  }
}
