@font-face {
  font-family: "Press 2P";
  src: url("../assets/fonts/PressStart2P.ttf");
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
  font-family: "Press 2P", sans-serif;
  &::-webkit-scrollbar {
    max-width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }
}

.main {
  margin: 2rem 0rem;
}
